/* Stylesheet for Profile.html */

body {
    background-color: #f4f7f6;
}

.card {
    border-radius: 10px;
}

.rounded-circle {
    border: 6px solid #fff;
}

.fonts {
    font-size: 13px;
}

.social-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.social-list li {
    padding: 10px;
    color: #717171;
    cursor: pointer;
    font-size: 19px;
}